<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>My Portfolio - Kartik Murali</title>
  <meta content="" name="keywords">
  <meta content="" name="description">
<script src="https://kit.fontawesome.com/72212fbbc6.js" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
<a href="https://icons8.com/icon/qV-JzWYl9dzP/django"></a>
  <!-- Bootstrap CSS File -->
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'owl.carousel.min.css' %}"  rel="stylesheet">
  <link href="{% static 'magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'hover.min.css' %}"  rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'style.css' %}" rel="stylesheet">

  <!-- Responsive css -->
  <link href="{% static 'responsive.css' %}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'man.png' %}">

</head>

<body>


  <!-- start section navbar -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">



        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#header" class="smoothScroll">Home</a></li>
          <li><a href="#about" class="smoothScroll">About</a></li>
          <li><a href="#portfolio" class="smoothScroll">Projects</a></li>
          <li><a href="#contact" class="smoothScroll">Contact</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- End section navbar -->


  <!-- start section header -->
  <div id="header" class="home">

    <div class="container">
      <div class="header-content">
        <h1>I'm <span class="typed"></span></h1>
        <p>Information Technology Engineer</p>

        <ul class="list-unstyled list-social">
          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End section header -->


  <!-- start section about us -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="{% static 'man.png' %}" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">I'm Kartik Murali studying in St.Joseph's college of Engineering and i am pursuing B.Tech IT </p>
            <p class="separator">I am an young and energetic student who is always willing to learn something new and always trying to work on something new.</p>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->


  <!-- start section services -->
  <div id="services">
    <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">

            <img src="https://img.icons8.com/color/48/000000/html-5--v1.png"/>
            <span>HTML</span>
            <p class="separator">I have learnt and done many projects in HTML </p>

          </div>

          <div class="services-block">

            <img src="https://img.icons8.com/color/48/000000/css3.png"/>
            <span>CSS</span>
            <p class="separator">I have learnt and done many projects in </p>

          </div>

          <div class="services-block">

            <img src="https://img.icons8.com/ios-filled/50/000000/flask.png"/>
            <span>FLASK</span>
            <p class="separator">I am certificated with FLASK</p>

          </div>

          <div class="services-block">

            <img src="https://img.icons8.com/color/48/000000/django.png"/>
            <span>DJANGO</span>
            <p class="separator">I have learnt and certificated in DJANGO</p>

          </div>

          <div class="services-block">

            <img src="https://img.icons8.com/fluent/48/000000/mysql-logo.png"/>
            <span>MYSQL</span>
            <p class="separator">I have learnt and done projects in MYSQL </p>

          </div>

          <div class="services-block">

            <img src="https://img.icons8.com/color/48/000000/nodejs.png"/>
            <span>NODEJS</span>
            <p class="separator">I have learnt and done projects in NODEJS</p>

          </div>


          <div class="services-block">

            <img src="https://img.icons8.com/color/48/000000/bootstrap.png"/>
            <span>BOOTSTRAP</span>
            <p class="separator">I have learnt and certificated in BOOTSTRAP </p>

          </div>

          <div class="services-block">
          <img src="https://img.icons8.com/wired/64/000000/hacking.png"/>
          <span>ETHICAL HACKING</span>
          <p class="separator">I have learnt and certificated in ETHICAL HACKING</p>

          </div>

          <div class="services-block">
          <img src="https://img.icons8.com/doodle/64/000000/learning.png"/>
          <span>MACHINE LEARNING</span>
          <p class="separator">I have learnt and certificated in MACHINE LEARNING </p>

          </div>

          <div class="services-block">
            <img src="https://img.icons8.com/cute-clipart/64/000000/cyber-security.png"/>

            <span>CYBER SECURITY</span>
            <p class="separator">I have learnt and certificated in CYBER SECURITY</p>

          </div>
        </div>

    </div>

  </div>
  <!-- end section services -->






  <!-- start sectoion contact -->
  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-6">
            <div class="contact-contact">

              <h2 class="mb-30">GET IN TOUCH</h2>

              <ul class="contact-details">
                <li><span>CHENNAI</span></li>
                <li><span>TAMIL NADU, INDIA</span></li>
                <li><span>+91 8667688729</span></li>
                <li><span>muralikartik01@gmail.com</span></li>
              </ul>

            </div>
          </div>

          <div class="col-lg-6">
            <form action="" method="post" role="form" class="contactForm">
              <div class="row">

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="col-lg-6">
                  <div class="form-group contact-block1">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- start sectoion contact -->


  <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
          <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
        </ul>

      </div>



      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
        -->

      </div>

    </div>
  </div>
  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'jquery.min.js'%}"></script>
  <script src="{% static 'jquery-migrate.min.js'%}"></script>
  <script src="{% static 'bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'typed.js'%}"></script>
  <script src="{% static 'owl.carousel.min.js'%}"></script>
  <script src="{% static 'magnific-popup.min.js'%}">></script>
  <script src="{% static 'isotope.pkgd.min.js'%}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'main0.js' %}"></script>

</body>

</html>
